footer
    span made with ❤️ by 
        a(href="mailto:hello@thomasmaclean.be?subject=Hi") thomasmaclean
        span(id="year")

script.
    document.getElementById("year").innerText=" © " + new Date().getFullYear()