@import colours

   
  
@font-face
  font-family: 'icomoon'
  src: font-url('icomoon-free/icomoon.eot')
  src: font-url('icomoon-free/icomoon.eot?#iefix') format("embedded-opentype"), font-url('icomoon-free/icomoon.svg#icomoon') format("svg"), font-url('icomoon-free/icomoon.woff') format("woff"), font-url('icomoon-free/icomoon.ttf') format("truetype")
  font-weight: normal
  font-style: normal
    
* 
    margin: 0
    padding: 0


body,
html 
    font-size: 16px
    font-family: 'Courier New', Courier, monospace
    opacity: 1!important
    overflow: hidden
    height: calc( 100% - 3.2rem)

body
    background: white!important
    transition: background 0.3s ease
    border: 0.2rem solid $dark-colour
    max-width: 350px
    margin: auto

a
    color: $dark-colour


html
    padding: 1rem
    background: $body-colour

#page 
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    height: 100%


#imgupload 
    display: none


#imgupload-btn 
    cursor: pointer
    border: 0.2rem solid $button-border
    padding: 2rem
    font-size: 2rem
    box-shadow: 7px 7px 0px 0px lightpink

#imgupload-btn:active 
    box-shadow: none
    transform: translate(7px, 7px)
    outline: none
#imgupload-btn:focus 
    outline: none
  
#random-btn:active 
    box-shadow: none
    transform: translate(7px, 7px)
    outline: none
#random-btn:focus 
    outline: none
    
#random-btn 
    cursor: pointer
    border: 0.2rem solid $button-border
    padding: 2rem
    font-family: inherit
    font-size: 2rem
    background: white
    box-shadow: 7px 7px 0px 0px lightpink
    transition: transform 0.1s ease

.center 
    display: flex
    justify-content: center
    align-items: center


canvas 
    height: 50%
    margin: 2rem
    //border: 1px solid lightcoral


.is-dragover 
    background: lightgoldenrodyellow
    cursor: move

img     
    height: 50vh
    width: auto

nav     
    background: $nav-colour
    padding: 1rem
    border-bottom: 0.2rem solid $dark-colour

footer
    position: absolute
    bottom: 1rem

[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: 'icomoon'
  font-style: normal
  speak: none
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased

.icon-camera:before
  content: "\e90f"

#love-btn
    position: absolute
    bottom: 7rem
    transform: translateX(7rem)
    border: 0.2rem solid lightpink
    padding: 0.5rem
    background: rgba(255,255,255,0.6)
    border-radius: 100%