<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body(style="opacity:0;background:lightgreen")
        nav
            a(href="/") home
        main(id="page")
                
            button(id="random-btn") random Pics
            img(id="image")
            include includes/footer.pug